<ul class="nav justify-content-end">
  
  <li class="nav-item">
  	<%= link_to 'Descrizione', home_descrizione_path,class:"nav-link" %>
    
  </li>
  <li class="nav-item">
    <%= link_to 'Contatti', home_contatti_path,class:"nav-link" %>
  </li>
  
</ul>