<div class="jumbotron">
  <h1 >Contatti</h1>
  <p class="lead">Se si verifica qualche problema,non esitare a contattarci via mail </p>
  <h2 class="display-6"> skinetics@gmail.com</h2>
  <%if user_signed_in?%>
  <%else%>
  <hr class="my-4">
  <p>Non sei ancora registrato?</p>
 <%= link_to "Registrati ora!", new_user_registration_path, class: "btn btn-lg btn-success" %>
 <% end %>
</div>
