<script type="text/javascript">
 $(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 4000);
 })
</script>

<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">




<div class="center jumbotron contact">
 <div class="row">
   <div class="col-md-10 col-md-offset-1">
       <div class="row">
           <div class="col-md-4 col-md-offset-1"></div>
           <div class="col-md-6"></div>
       </div>
   </div>
 </div>
 <div class="row" style="padding-top:10px;">
     
   <div class="col-md-10 col-md-offset-1">
    <div class="row">
       <div class="col-md-2 col-md-offset-1"></div>
       <div class="col-md-6">
        <div class="row text-center">
          <h3 style="font-family: 'Merriweather', serif;"> <strong> Hai qualche problema o vuoi suggerirci qualcosa? <br /> Puoi inviarci un'email</strong> </h3><br />
        </div>
          

  <form action="/contact" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <%if user_signed_in?%>
    <input type="email" class="form-control" id="contact_email" name="contact[email]" value="<%=current_user.email%>" readonly>
    <%else%>
    <input type="email" required="required" class="form-control" id="contact_email" name="contact[email]" placeholder="Inserisci il tuo indirizzo email...">
    <%end%>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Oggetto</label>
     <input type="text" required="required" class="form-control" id="contact_subject" name="contact[subject]" placeholder="Inserisci l'oggetto del tuo messaggio...">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Messaggio</label>
    <textarea class="form-control" required="required" id="contact_message" rows="3" name="contact[message]" placeholder="Inserisci qui il tuo messaggio..."></textarea>
  </div>
  <div class="row text-center">
   <input type="submit" id="invia" class="btn btn-primary" name="commit" data-disable-with="Invia" value="Invia"/>
  </div>

  </div> </div>
       </div>
   </div>
</div>