

<div class="jumbotron">
  <h1 class="display-4">Descrizione</h1>
  <br>
   <h3 style="font-family: 'Merriweather', serif;"> <strong> Sei un dermatologo o un appasionato di cosmetica? <br /> Allora questa è la pagina web adatta per te!</strong> </h3><br />
  <ul class="list-unstyled, display-5" >  
<li> Qui troverai i migliori dermatologi che condividono i loro pensieri per i miglior prodotti cosmetici.</li><br>
<li>Sarà molto semplice e veloce trovare anche i recensioni degli appassionati.</li><br>

<br> <br>
  <%if user_signed_in?%>
  <%else%>
 <h4> Per qualsiasi dubbio<br /> </h4>
  
  <%= link_to "Contattaci ora!", home_contatti_path ,class: "btn btn-lg btn-secondary"%>
  

  <br><br>
 <h4> Non sei ancora registrato?<br /> 
  </h4>
  <%= link_to "Registrati ora!", new_user_registration_path, class: "btn btn-lg btn-success" %>
  <%end%>
</div>
