<div class=" center jumbotron entrato" style="text-align: center;">
  
  <%if user_signed_in?%>
  
  <h1>Buongiorno! </h1>
  <br>
  <h3>Quale tipo di trattamento ti interessa?</h3>
  <br>
 
   
 
        
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%= image_tag("capelli.jpeg", :title => "capelli", :id => "2", :style => "display: block; margin: 0px auto; width: 500px; height: 500px; cursor: pointer;border-radius: 30%;border: 2.5px solid rgb(29, 29, 29);" )%> <h1 class="display-3">Capelli</h1>
    </div>
    <div class="carousel-item">
      <%= image_tag("corpo1.jpeg", :title => "corpo", :id => "1", :style => "display: block; margin: 0px auto; width: 500px; height: 500px; cursor: pointer;border-radius: 30%; border: 2.5px solid rgb(29, 29, 29);") %>
      <h1 class="display-3">Corpo</h1>
    </div>
    <div class="carousel-item">
     <%= image_tag("viso.jpeg", :title => "viso", :id => "2", :style => "display: block; margin: 0px auto; width: 500px; height: 500px; cursor: pointer;border-radius: 30%;border: 2.5px solid rgb(29, 29, 29);" )%> <h1 class="display-3">Viso</h1>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>    
 </div>
           

  <%else%>
  <h1 class="display-4">Benvenuto su Skinetics!</h1>
  <h3>Clicca qui sotto per registrarti<br /> 
  </h3><br>
  <%= link_to "Registrati ora!", new_user_registration_path, class: "btn btn-lg btn-success" %>
  <%end%>
  
</div>
